<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <p>Author: {{ author }}</p>

    <h2>Reviews:</h2>
    {% for review in reviews %}
    <p>Rating: {{ review.rating }}</p>
    <p>{{ review.user }} says {{ review.review }}</p>
    <p>{{ review.created_at }}</p>
    {% endfor %}

    <h2>Add Review:</h2>
    <form action="??????" method="POST">
        <textarea name="review_text" cols="30" rows="10"></textarea>
        <label for="">Rating:</label>
        <select name="rating" id="rating">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
        </select>
        <input type="submit" value="Submit Review">
    </form>
</body>
</html>

